<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/escalade</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <mapping package="proust.dev.hibernate.entities"/>
        <mapping class="proust.dev.hibernate.entities.Commentaire" />
        <mapping class="proust.dev.hibernate.entities.Cotation" />
        <mapping class="proust.dev.hibernate.entities.Longueur" />
        <mapping class="proust.dev.hibernate.entities.Secteur" />
        <mapping class="proust.dev.hibernate.entities.Spot" />
        <mapping class="proust.dev.hibernate.entities.Topo" />
        <mapping class="proust.dev.hibernate.entities.TypeUser"/>
        <mapping class="proust.dev.hibernate.entities.Utilisateur" />
        <mapping class="proust.dev.hibernate.entities.Voie" />
    </session-factory>
</hibernate-configuration>